.MuiInputLabel-outlined {
  color: #DFFB22 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #606075 !important;
}

.MuiAutocomplete-inputRoot {
  color: white !important;
}

.MuiAutocomplete-root {
  color: white !important;
}

.MuiAutocomplete-popupIndicator {
  color: white !important;
}

.MuiAutocomplete-clearIndicator {
  color: #606075 !important;
}
