.MuiInputLabel-outlined {
  color: #ffffff !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.MuiAutocomplete-inputRoot {
  color: white !important;
}

.MuiAutocomplete-root {
  color: white !important;
}

.MuiAutocomplete-popupIndicator {
  color: white !important;
}

.MuiAutocomplete-clearIndicator {
  color: white !important;
}
