#news {
  position: absolute;
}

.news-row {
border-bottom: 1px solid rgba(255,250, 250, 0.2);
padding: 10px 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: normal;
text-transform: none;
color: #FFFFFF;
font-family: Avenir, sans-serif;
}
.news-title {
border-bottom: 1px solid rgba(255,250, 250, 0.2);
font-family: "Alternate Gothic No1", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
letter-spacing: normal;
line-height: 40.5px;
text-transform: uppercase;
color: #FFFFFF;

}

.companynews {
  width: 100%;
}

