.financials {
    font-size: 12px;
    padding: 5px 0;
}

.companyfinancials {
    background-color: rgba(96, 96, 117, 0.9);
    border-radius: 25px;
    color: white;
}

.companyfinancials thead {
    text-align: center;
    color: white;
    font-weight: bold;
}

.companyfinancials td {
    width: 49%;
    display: inline-block;
    color: white;
    border-top: 1px solid rgba(255,250, 250, 0.2);

}