.stocks {
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.userStocks{
    color: white;
    font-size: 24px;
    
}

.userShares{
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.userSharePrice {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.portfolioCont {
    background-color: #606075;
    border-radius: 25px;
}

.trPortfolio {
    color: white;
    font-size: 22px;
}

.form-control {
    width: 50% !important;
    text-align: center;
    display: inline-block;
}

.table {
    table-layout: fixed;
}