#news {
    position: absolute;
}

.card-title {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}



.table-striped {
    color: white;
}

.card-body {
    background-color: #606075 ;
    border-radius: 25px;
}

