.stockprices {
    text-align: center;
    font-family: "Alternate Gothic No1", sans-serif;
    font-style: normal;
    font-weight: 400;
  
    color: white;
}
.selected-stock{
    font-weight: bold;
    justify-content: center;
    font-family: "Alternate Gothic No1", sans-serif;
}