.stocks {
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.userStocks{
    color: white;
    font-size: 24px;
    
}

.userShares{
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.userSharePrice {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.test {
    background-color: #606075;
    border-radius: 25px;
    background: rgba(96, 96, 117, 0.6);
}